<form #loginForm="ngForm" (ngSubmit)="process(loginForm)">
  <div class="form-class" >
    <label for="userName">Username</label>
    <input ngModel required minlength="3" name="username" #username="ngModel"  id="username" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="!username.valid && username.touched">Username is Required</div>
  </div>
  <div class="form-class">
      <label for="password">Password</label>
      <input ngModel required name="password" #password="ngModel"  id="password" type="password" class="form-control">
      <div class="alert alert-danger" *ngIf="!password.valid && password.touched">Password is Required</div>
  </div>
  <button class="btn btn-primary" style="margin:10px;" type="submit">Login</button>


</form>